@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.container1 {
    background-color: black;
    height: 100vh;
    width: 100vw;
    padding: 64px
}

.head {
    color: white;
    font-family: Roboto;
    font-size: 32px;
    text-align: center;
}

.para {
    color: white;
    font-family: Roboto;
    font-size: 24px;
    text-align: center;
}

.container2 {
    background-color: #2E2D2D;
    height: 100vh;
    width: 100vw;
    padding: 64px;
}

.head2 {
    color: orange;
    padding: 12px;
    font-family: Bree Serif;
    font-size: 24px;
}

.para2 {
    color: #E9E2E2;
    padding: 12px;
    font-family: Bree Serif;
    font-size: 14px;
}

.image {
    height: 250px;
    width: 200px;
    border-radius: 50%;
}

.container3 {
    background-color: white;
    height: 100vh;
    width: 100vw;
    padding: 64px
}



.para3 {
    color: black;
    padding: 12px;
    font-family: Caveat;
    font-size: 18px;
    margin-top: 64px;
}

.para4 {
    text-align: right;
    font-size: 12px;
    font-style: normal;
}

.container4 {
    background-color: #7F7878;
    height: 1150px;
    width: 100vw;


}

.head4 {
    color: white;
    padding: 12px;
    font-family: Roboto;
    font-size: 24px;
}

.head3 {
    color: black;
    padding: 12px;
    font-family: Roboto;
    font-size: 24px;
}




.image1 {
    height: 250px;
    width: 275px;
    border-radius: 12px;
    margin: 20px;
}

.para5 {
    color: black;
    font-family: Roboto;
    font-size: 18px;
    text-align: center;

}

.tales {
    width: 100%;

}

.carousel-inner {
    width: 100%;
    max-height: 200px !important;
}

.image3 {
    height: 600px;
    width: 300px;
    border-radius: 50%;
}

.image4 {
    height: 500px;
    width: 450px;
    border-radius: 50%;
    margin-right: 30px;
}

.head5 {
    color: white;
    padding: 12px;
    font-family: Roboto;
    font-size: 36px;
    text-decoration: underline;
}
